@import "tailwindcss";
@import "@fontsource/geist";

@theme {
  --color-primary: #004785;

  --font-sans: "Geist", "sans-serif";
  --font-serif: "Multicolore", "serif";
}

@font-face {
  font-family: "Multicolore";
  src: url("/fonts/Multicolore_Pro.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-arc {
  font-family: "Multicolore", serif;
}
